<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Federated Data Query</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
    <p id="the D"></p>
    <script>
     document.getElementById("the D").innerHTML = "test1";
     var username = "teiidUser"
     var password = "redhat1!"
     //TimeZoneDB token
     //var token = "Q0B8OGIPT4H4"
     //Openshift token
     //var token = "dGVpaWRVc2VyOnJlZGhhdDEh"
     //NOAA token
     var token = "dQrftJTdlBraPXojLsTzoNmbVciCWXVA"

     
     //var url = "https://secure-datavirt-app-web-service.rhel-cdk.10.1.2.2.xip.io/odata/country-ws/country.Countries"
     //var url = "http://api.timezonedb.com/v2/list-time-zone"
     //var url = "http://api.worldbank.org/countries"
     var url = "http://www.ncdc.noaa.gov/cdo-web/api/v2/datasets"
     var xhttp = new XMLHttpRequest();
     xhttp.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200) {
       myFunction(this);
      }
     };
     xhttp.open("GET", url, true);
     xhttp.send();
     
     function myFunction(xml) {
      var xmlDoc = xml.responseXML;
      var counter = 0;
      var myString = "";
      while(counter<xmlDoc.getElementsByTagName("ZIP").length){
       myString += " " + xmlDoc.getElementsByTagName("ZIP")[counter].childNodes[0].nodeValue;
       counter++;
      }
      document.getElementById("the D").innerHTML = myString;
     }
     
     document.getElementById("the D").innerHTML = "test7";
     
     
     $.ajax({
     /**
       beforeSend: function(xhttp) {
        Authorization: 'key=Q0B8OGIPT4H4'
        xhttp.setRequestHeader("Authority", token);
    //request.setRequestHeader("Authority", token);
        },
        **/
        type: "GET",
        url: url,
        dataType: 'xml',
        async: false,
        data: '{ "comment" }',
        headers:{
         //Authorization: 'key=Q0B8OGIPT4H4'
        token: token
        }
        
      // Fetch the stored token from localStorage and set in the header
      /**
      data: '{ "comment" }',
      success: function (){
        alert('Thanks for your comment!');
      
      }
      **/
          
   
     
     }).done(function (comment) {
        alert('Success?');
     }).fail(function (jqXHR, textStatus) {
         alert('Fail?');
     });
     document.getElementById("the D").innerHTML = "test8";
    
     
    </script>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
    <p id="demo"></p>
    <script>
   
     $(document).ready(function(){
      $("button").click(function(){
      var cars = ["BMW", "Volvo", "Saab", "Ford", "Fiat", "Audi"];
      var text = "";
      var i;
      for (i = 0; i < cars.length; i++) {
          text += cars[i] + "<br>";
      }
      document.getElementById("demo").innerHTML = text;
            });
        });
    
    </script>
 
    <button>Get JSON data</button>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
 
        <div class="wrap">
           <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" value="Submit">Submit</button>
                <i class="fa fa-search"></i>
             </button>
           </div>
        </div>
     
     <!--textbox
        <input type="text" id="text" name="text_name" style="width: 300px;" /> 
     -->
      
 
        <footer class="footer">
            <p>&copy; 1993 Northrop Grumman Corporation</p>
        </footer>
 
         <!-- hitwebcounter Code START -->
        <a href="http://www.hitwebcounter.com" target="_blank">
        <img src="http://hitwebcounter.com/counter/counter.php?page=6715313&style=0001&nbdigits=5&type=page&initCount=0" title="free hits" Alt="free hits"   border="0" >
        </a>                                        <br/>
             <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Track My Website" 
             target="_blank" style="font-family: Comic Sans, sans-serif; 
             font-size: 8px; color: #686A6F; text-decoration: none ;"><strong>Track My Website                                        </strong>
             </a>   
 
    </div>
</body>
 
</html>
