<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Federated Data Query</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
    <p id="the D"></p>
    <script>
     document.getElementById("the D").innerHTML = "test1";
     var username = "teiidUser"
     var password = "redhat1!"
     var token = "dGVpaWRVc2VyOnJlZGhhdDEh"
     document.getElementById("the D").innerHTML = "test7";
     
     
     $.ajax({
        beforeSend: function(request) {
    request.setRequestHeader("Authority", token);
        },
        type: "GET",
        url: "https://secure-datavirt-app-web-service.rhel-cdk.10.1.2.2.xip.io/odata/country-ws/country.Countries",
        dataType: 'xml',
        async: false
      // Fetch the stored token from localStorage and set in the header
      /**
      data: '{ "comment" }',
      success: function (){
        alert('Thanks for your comment!');
      
      }
      **/
          
    });
     document.getElementById("the D").innerHTML = "test8";
     /**
     $.getJSON( "http://datavirt-app-web-service.rhel-cdk.10.1.2.2.xip.io/odata/country-ws/country.Countries?$format=json", function( data, status ) {

         if(status === 200){      
                document.getElementById("the D").innerHTML = "test1.5";
                var items = ["Placeholder"];
               $.each( items, function( key, val ) {
                document.getElementById("the D").innerHTML = "test2";
                 items.push(key);
                 document.getElementById("the D").innerHTML = items;
                document.getElementById("the D").innerHTML = "test3";});}
            else{
                 document.getElementById("the D").innerHTML = "fail";}
         });
         **/
     
    </script>
 
    <!--<script>
    require('es6-promise').polyfill();
    require('fetch-everywhere');

    fetch('http://datavirt-app-web-service.rhel-cdk.10.1.2.2.xip.io/odata/country-ws/country.Countries?$format=json')
     .then(function(response) {
      if (response.status >= 400) {
       throw new Error("Bad response from server");
      }
      return response.json();
     })
     .then(function(stories) {
      console.log(stories);
     });
     </script>-->

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
    <p id="demo"></p>
    <script>
   
     $(document).ready(function(){
      $("button").click(function(){
      var cars = ["BMW", "Volvo", "Saab", "Ford", "Fiat", "Audi"];
      var text = "";
      var i;
      for (i = 0; i < cars.length; i++) {
          text += cars[i] + "<br>";
      }
      document.getElementById("demo").innerHTML = text;
            });
        });
    
    </script>
 
    <button>Get JSON data</button>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
 
        <div class="wrap">
           <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" value="Submit">Submit</button>
                <i class="fa fa-search"></i>
             </button>
           </div>
        </div>
     
     <!--textbox
        <input type="text" id="text" name="text_name" style="width: 300px;" /> 
     -->
      
 
        <footer class="footer">
            <p>&copy; 1993 Northrop Grumman Corporation</p>
        </footer>
 
         <!-- hitwebcounter Code START -->
        <a href="http://www.hitwebcounter.com" target="_blank">
        <img src="http://hitwebcounter.com/counter/counter.php?page=6715313&style=0001&nbdigits=5&type=page&initCount=0" title="free hits" Alt="free hits"   border="0" >
        </a>                                        <br/>
             <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Track My Website" 
             target="_blank" style="font-family: Comic Sans, sans-serif; 
             font-size: 8px; color: #686A6F; text-decoration: none ;"><strong>Track My Website                                        </strong>
             </a>   
 
    </div>
</body>
 
</html>
